@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';

.card-slide {
  background-color: $primary-light;
  height: 25rem;
  width: 20rem;
  padding: 0.2rem;
  border-radius: $radius;
  flex-shrink: 0;
  img {
    width: 100%;
    object-fit: cover;
    height: 80%;
  }

  p {
    text-align: center;
    font-size: 1rem;
  }
}

.card-slide-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 2rem;
  }
}

.card-slide-title {
  color: $primary-dark;
  font-weight: bold;
}

@media screen and (max-width: 660px) {
  .card-slide {
    width: 100%;
  }
}
