@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  right: 0;
  display: none;
}

.overlay.active {
  display: block;
}
.sidebar.active {
  width: 220px;
  .profil_info {
    opacity: 1;
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  .logo_content {
    .logo {
      opacity: 1;
    }
  }

  .burger {
    left: 80%;
  }

  #log_out {
    opacity: 1;
  }

  ul {
    li {
      .tooltip {
        display: none;
      }
    }
  }

  .links_name {
    opacity: 1;
    pointer-events: auto;
  }
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: -20px;

  height: 100%;
  width: 8rem;

  background: $primary;
  padding: 6px 14px;
  transition: all 0.5s ease;

  .links_name {
    opacity: 0;
    pointer-events: none;
  }
  .logo_content {
    font-size: 2rem;
    position: relative;

    .logo {
      color: $light;
      display: flex;
      height: 50px;
      text-decoration: none;
      width: 100%;
      opacity: 0;
      align-items: center;
      pointer-events: none;
    }
    img {
      height: 5rem;
    }
  }
  .nav_list {
    margin-top: 2rem;
    margin-left: 2rem;
    li {
      position: relative;
      list-style: none;
      height: 5rem;
      width: 100%;

      line-height: 5rem;
      font-size: 1rem;

      text-decoration: none;
      border-radius: 12px;
      &:hover {
        .tooltip {
          top: 50%;
          opacity: 1;
        }
      }

      .tooltip {
        position: absolute;

        width: 200px;
        top: 0%;
        transform: translateY(-20%);
        border-radius: 6px;
        text-align: center;
        padding: 0.2rem;
        left: 45px;
        font-size: 2rem;
        text-align: center;
        background: $primary;
        color: $secondary;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
      }

      a {
        color: white;
        margin: 0;
        text-decoration: none;
        border-radius: 12px;
        &:hover {
          color: $secondary;
        }
      }
    }
    .nav-icone {
      height: 2rem;
      min-width: 2rem;
      border-radius: 2px;
      text-align: center;
      margin-right: 1rem;
      line-height: 3rem;
    }
  }
}

 .burger {
  position: absolute;
  top: 2.5rem;
  right: 56px;
  height: 2rem;
  width: 2rem;
  z-index: 9999999;


  left: 25%;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  .contLigne {
    width: 2rem;
    height: 42px;
    cursor: pointer;
    position: relative;
  }
  .lignes {
    width: 150%;
    height: 3px;
    border-radius: 5px;
    background: white;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  .lignes:nth-child(1) {
    top: 0px;
  }
  .lignes:nth-child(2) {
    top: 1rem;
  }
  .lignes:nth-child(3) {
    top: 2rem;
  }
}

.profile_content {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  left: 0;

  .profile {
    position: relative;
    padding: 10px 6px;

    .profile_details {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
  a {
    color: white;
  }
}

#log_out {
  position: absolute;
  transform: translate(-50%);
  left: 88%;
  bottom: 2rem;
  min-width: 3rem;
  line-height: 3rem;
  border: none;
  font-size: 2rem;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  opacity: 0;
  cursor: pointer;
}

.profil_info {
  opacity: 0;
}

.log_btn {
  margin: 0 0.6rem;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  span {
    margin-right: 1rem;
  }
  &:hover {
    color: $secondary;
  }
}

@media only screen and (max-width: 400px) {
  .sidebar {
    width: 2rem;
  }

  // .nav-icone {
  //   height: 1rem;
  //   width: 1rem;
  // }
  // main {
  //   left: 0;
  //   padding: 1rem;
  // }
  // .profile_content {
  //   // display: none;
  // }
}

.btn1.active .lignes:nth-child(1) {
  top: 1rem;
  transform: rotate(135deg);
}
.btn1.active .lignes:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}
.btn1.active .lignes:nth-child(3) {
  top: 1rem;
  transform: rotate(-135deg);
}

.active {
  color: $secondary;
}
