@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';


.transaction-table {
    background-color: $primary-light;
width: 100%;
padding: 1rem;
line-height: 3rem;
    color: white;
    text-align: left;
    border-radius: $radius;
    border-color: $primary-dark;


    thead{
        th{
            text-align: left;
            font-size: 1rem;
            color: $complementary2;
        }
    }
    tbody {

   
        td{
            @extend %text-cut;
        }
        tr{
            transition: all 0.5s ease;
           
            
            &:hover {
                color: $secondary;
                border-radius: $radius * 2;
                background-color: $primary;
        
            }
        }
    }
}


.transaction-table-container{
    width: 100%;
    h3{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.apexcharts-toolbar{
    z-index: 0 !important;

}