@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fade-in-up {
  0%{
    opacity: 0;
    transform: translateY(140px);
    
  }
  100%{
    opacity: 1;
    transform: translateY(0);
}
}



@keyframes fade-bounce {
//  0,
//  20%,
//  50%,
//  80%,

  100%{
    opacity: 0;
    transform: translateY(20px);
  }
  40%{
    opacity: 1;
    transform: translateY();
}
}

// animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
