// ===================== flexbox =====================
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ===================== grid =====================

%grid-container {
  margin: 2rem 3%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

%item-grid-container {
  padding: 3rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}




%danger-btn {
  background-color: $danger-color;
  border: none;
  color: $dark-green;
  font-weight: bolder;

}
%warning-btn {
  background-color: $primary;
  border: none;
  color: white;
  font-weight: bolder;
}
%success-btn {
  background-color: $primary;
  border: none;
  color: $dark-green;
  font-weight: bolder;
}
%primary-btn {
  background-color: $primary;
  border: none;
  font-weight: bolder;
  color: $dark-green;
}
%secondary-btn {
  background-color: $secondary;
  border: none;
  color: $dark-color;
}

%primary-background{
  background-color: $primary;
}



// === Title

%title-cadre{
  margin-bottom: 2rem;
  text-align: center;
  color: $primary;
  padding: 1rem;
  margin-top: 1rem;
  background-color: $light;
  animation: flip-in-hor-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  border-radius: $radius;
}