@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}
h1,h2,h3,h4 {
  text-transform: uppercase;
  color: white;
}
