// ----- Colors -----
$website-width: 1280px;





$bg-image : url('../assets/paysage_caledonien.jpeg');

// shadow
$shadow: 2px 2px 10px #c3c7f0;

// radius
$radius: 1rem;

// Responsive
$smartphone: 50rem;
$tabletMin: 50.1rem;
$tabletMax: 76.8rem;
$normalMin: 76.9rem;
$normalMax: 120rem;
$widescreen: 120.1;
$landscape: 50rem;









/* Color Theme Swatches in Hex */
$main-color: #024554;
$dark-green: #161f1c;
$green: #53736A;
$mid-green: #6A8C69;
$secondary-color: #A8B545;
$ligth-color: #C2C0A6;

$warning-color: #dfa958;
$danger-color: #dd6b6b;
$success-color: #94cc73;
$dark-color: rgb(31, 39, 37);
$dark-light: rgb(161, 172, 161);

$light-color: rgba(193,191,165, 1);


