
// Use colors
$text:#313539;
$light:#ECEAF8;
$dark:#343B42;
$grey:#5D656E;

$primary: #304D6D;
$primary-dark: #292f4d;
$primary-light: #5e7691;
$secondary:#F49E4C;
$complementary1:#957FAA;
$complementary2:#AAD2BA;
$complementary3:#49392C;
$danger:#C26066;


// shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// radius
$radius: 5px;

// Responsive
// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;







