// ----- Colors -----
// $main-color: #024554;
// $link-color: #6c71f8;
 $dark-green: #161f1c;
// // $green: #53736A;
// $green: #6A8C69;
// $secondary-color: #A8B545;
// $warning-color: #dfa958;
// $success-color: #94cc73;
$dark-color: rgb(22, 71, 59);
// $dark-light: rgb(161, 172, 161);
// $light-color: rgba(193,191,165, 1);


// // ==== Theme  Dollar

// // $ligth-color: #C2C0A6;

// // $light-color: #abb3aa;

// // $secondary: #e2cb59;
// $dark: #1d1c1b;
// $dark-color: #1d1c1b;

// $dark-green:rgb(38, 43, 38)9;
// $green: #65bc62;
// $orange: #a8662c;
// $danger-color: #e49494;



// $comp1: #B47EB3;
// $comp2: #AAD2BA;
// $comp3:  #49392C;
// $bg-drop:  #CED2D7;
// $body-color: #ECEAF8;




// Use colors
$text:#313539;
$light:#ECEAF8;
$dark:#343B42;
$grey:#5D656E;



$primary-dark: #292f4d;
$primary-light: #5e7691;
$primary: #304D6D;
$secondary:#F49E4C;
$complementary1:#957FAA;
$complementary2:#AAD2BA;
$complementary3:#49392C;
$danger:#C26066;


// shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// radius
$radius: 5px;

// Responsive
// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;







