
.image-slide-2{
    background-image: url('../../../assets/images/paysage_caledonnien_2.jpeg');
}
.image-slide-2{
    background-image: url('../../../assets/images/paysage_caledonien.jpeg');
}
.image-slide-1{
    background-image: url('../../../assets/images/plastic_sea.jpeg');
}

 button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
    padding: 15px;

    &:hover{
 color: #222;
    }
    &:focus{
        outline: none;
    }
 }

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 88vh;
    .action-buttons{
        button{
            position: absolute;
            left: 35%;
            top: 50%;
            z-index: 100;
        }
        .down-button{
            transform: translateX(-100%);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .up-button{
            transform: translateY(-100%);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}


// mobile
.left-slide{
    height: 40%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: whitesmoke;

    }
    h1 {
        font-size: 20px;
        border-bottom: 10px;
        margin-top: -30px;
    }
}


.right-slide {
    height: 100%;
    position: absolute;
    top: 35%;
    left: 0;
    // display: none;
    width: 100%;

    div{
     background-repeat: no-repeat ;
     background-size: cover;
     background-position: 95% 75%;
     height: 100%;
     width: 100%;
    }
}

// .left-slide{
//     height: 100%;
//     width: 55%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     div {
//         height: 100%;
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         color: whitesmoke;

//     }
//     h1 {
//         font-size: 20px;
//         border-bottom: 10px;
//         margin-top: -30px;
//     }
// }


// .right-slide {
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 55%;
//     width: 85%;
//     // display: none;

//     div{
//      background-repeat: no-repeat ;
//      background-size: cover;
//      background-position: center center ;
//      height: 100%;
//      width: 100%;
//     }
// }
