@import "../../SASS/reset";
@import '../../SASS/variables';
@import '../../SASS/placeholders';

.label{
    color: $light-color;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.submit-btn{
    @extend %success-btn
}
.danger-btn{
    @extend %danger-btn
}

.buttons {
    justify-content: center;
    .button{
        @extend %secondary-btn;
        color: $dark-green;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        width: 49%;
}}