@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';


.hero {
background-color: $primary-light;
    color: $primary-dark;
  margin-bottom: 2rem;
  border-radius: $radius;
    
    .hero-container{
        font-size: 1.4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-txt{

        h1{
            text-align: center;
            font-weight: bolder;
            letter-spacing: 0.3px;
        }

    }
  
  }