
@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';

.mini-card-offer{
    display: flex;
box-shadow: $shadow;
border-radius: $radius;
height: 15rem;
background-color: white;
margin: 1rem auto;
max-width: 500px;
}

.image-container{
    border-radius: $radius;
    height: 100%;
    width: 40%;
    flex: 1;
    img{
        height: 100%;
        border-radius: $radius 0 0 $radius;
        object-fit: cover;
        width: 100%;
    }
}

.mini-card-body{
    border-radius: $radius 0 0 $radius;
    padding: 1rem;
   flex: 2;
}