@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
.container-subscription-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin: 4rem auto;
    justify-content: space-between;

    .table{
        background-color: #fff;
        width: calc(33% - 20px);
        padding: 3rem;
        position: relative;

margin: 1rem auto;
        .package-name{
            width: 100%;
            height: 2px;
          
            margin: 35px 0;
            position: relative;
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                font-weight: 500;
                background-color: #fff;

            }
        }
    }
}

.price-section{
    display: flex;
    justify-content: center;

    .price-area{
        height: 120px;
        width: 120px;
        border-radius: 50%;
     color: $light;
        padding: 2px;
        .inner-area{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid $primary;
        line-height: 117px;
        text-align: center;
        position: relative;
.text{
    font-size: 1.3;
    position: absolute;
    top: -10px;
}
        .price{
            font-size: 2rem;
            font-weight: bold;
        }
        }
    }



}


.features{
    li{
        margin-bottom: 15px;
        list-style: none;
        display: flex;
        justify-content: space-between;
 .list-name{
   font-size: 17px;
   font-weight: 400;


 }
 .icone{
    font-size: 15px;
    color: green;
 }
 
    }
}


 
.button{
    display: flex;
    
    justify-content: center;
    button{

        width: 80%;
        height: 3.3rem;
        color: $light;
        font-weight: bold;
        border: none;
    outline: none;
    background-color: $primary;
    border-radius: $radius * 5;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        border-radius: $radius;
    }
    }
}


@media (max-width: 1020px) {
    .container-subscription-card{
        .table{
            width: calc(50% - 20px);
            margin-bottom: 4rem;
        }
    }
}
@media (max-width: 768px) {
    
    .container-subscription-card{
        .table{
            width: 100%;
        }
    }
}






.basic {
    .price-area, .inner-area, .button button{
        background: $primary;
    }

    .package-name{
        background: $primary;
        &::before{
            content: "Mensuel";

        }
    }
}
.premium {
    .price-area, .inner-area {
        background: $primary;
     
    }
    .package-name{
        background: $primary;
        &::before{
            content: "Premium";

        }
    }
}
.pro {
    .price-area, .inner-area{
        background: $primary;
    }
    .package-name{
        background: $primary;
        &::before{
            content: "Annuel";

        }
    }
}

.basic .button button{
background-color: #fff;
color: $primary;
border: solid 2px $primary;
}
.pro .button button{
background-color: #fff;
color: $primary;
border: solid 2px $primary;
}

.ribbon{

    height: 12rem;
    width: 150px;
   
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
    &::before, &::after{
        z-index: -1;
    position: absolute;
    content: "";
    display: block;
    border: 7px solid $primary;
    border-left-color: transparent;
    border-top-color: transparent;
    }
    &::before{
        top: 0;
        right: 30px;
    }
    &::after{
        bottom: 0;
        left: 0px;
    }

    span{
        position: absolute;
        background: $primary-dark;
        width: 200px;
        padding: 10px 0;
        color: $light;
        text-align: center;
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.12);
        top: 30px;
        right: 0;
        transform: rotate(-45deg);
    }

}