@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';

.body-card-header {
  display: flex;
  justify-content: space-between;
}

.body-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-card {
  background-color: $primary-dark;
  color: $light;
  margin: 2rem;
  border-radius: $radius;
  width: 320px;
  font-size: 12px;


  .body-card {
    padding: 1rem;

    h3 {
      margin-top: 10px;
      font-size: 1.3rem;
      color: $green;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }

  .detail-btn{
    background-color: $light;
    border: none;
    font-weight: bolder;
    color: $dark;
    &:hover{
      color: $light;
      background-color: $green;
    }
  }
}

.slider-card {
  img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 180px;
  }

  .controls {
    position: relative;

    .buttons {
      position: absolute;
      bottom: 290px;
      left: 10%;

      .button {
        padding: 0;
        background-color: $green;
      }
    }
  }
}

.card-footer {
  border: none;
}

.card-footer-item:not(:last-child) {
  border: none;
}

.arrow-slider {
  position: absolute;

  &:nth-child(1) {
    right: 0;
  }

  &:nth-child(2) {
    left: 265px;
  }
}




.price{
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
}
