@import '../../../SASS/variables';
.body-card-header {
  display: flex;
  justify-content: space-between;
}
.body-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-card {
  background-color: $dark-color;
  color: white;
  margin: 2rem;
  border-radius: $radius;
  width: 320px;
  font-size: 12px;

  .body-card {
    padding: 1rem;
    h3 {
      margin-top: 10px;
      color: $main-color;
      font-weight: bold;
    }
  }
}

.slider-card {
  img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 180px;
  }
}
