@import "../../SASS/reset";
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/animations';


.title-offer {
    
    margin-top: 2rem;
}

.btn-signal {
    @extend %danger-btn
}


.back-btn {

    @extend %secondary-btn;
    font-weight: bolder;
    text-transform: uppercase;
}

.offer-cover {
    height: 200px;
    border-radius: $radius;
    margin-bottom: 2rem;
    img {
        height: 200px;
        border-radius: $radius;
        object-fit: cover;
        width: 100%;
    }
}



.price {
  
   display: flex;
   align-items: center;
   font-size: 1.5rem;
    
    img{
        height: 3rem;
    }
 
}

.box-offer-info {
   background-color: transparent;
    align-items: center;
justify-content: space-between;
display: flex;
color: $primary;
font-weight: bold;
position: relative;

}

.offer-datetime {
    font-size: 0.8rem;
    color: $dark-green;
    
}