@import "../../SASS/reset";
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/animations';


.page-content{
   padding: 1rem 4rem 4rem 4rem;
   min-height: 100vh;
}
.title-offer {
    font-size: 2.5rem;
    margin-top: 1.5rem;


}



.back-btn {

 
    font-weight: bolder;
    text-transform: uppercase;
}

.offer-cover {
    height: 200px;
    border-radius: $radius;
    margin-bottom: 2rem;
    img {
        height: 200px;
        border-radius: $radius;
        object-fit: cover;
        width: 100%;
    }
}

.publish{
    font-size: 1.5rem;
 
    span{
        color: $primary;
        margin-left: 1rem;
    }
}


.price {
  
   display: flex;
   align-items: center;
   font-size: 2.5rem;
    
    img{
        height: 4rem;
        margin-left: 0.5rem;
    }
 
}

.box-offer-info {
   background-color: transparent;
    align-items: center;
justify-content: space-between;
display: flex;
color: $primary;
font-weight: bold;
position: relative;

}

.offer-datetime {
    font-size: 0.8rem;

}

.box-description{
    background-color: $primary-light;
    color: $primary-dark;
    font-weight: bold;
    font-size: 1.3rem;
}