@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/mixins';
@import '../../SASS/animations';

.section-inner {
margin-top: 2rem;
display: flex;
flex-direction: column;
 
  h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fade-in-up 0.5s ease-in-out;
  }
}

.section-landing{
  height: 100vh;
}

.section-inner h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  animation: fade-in-up 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}


.section-inner {

  button {
    animation: fade-in-up 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
  }
}

.btn-cta {
  position: relative;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 10rem;
  padding: 0.4rem 30px;
  border-radius: $radius;
  margin: 10px;
  border: 2px solid $primary;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  span{
    color: $dark;
  }

  &:hover {
    .hover {
      transform: translateY(0);
    }
    span {
      color: $light;
    }
  }

  .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-light;
    border-color: $primary-light;
    color: $dark;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
}


.sectionB{
  background-color: $primary;
  min-height: 100vh;
  h2{
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p{
    color: $light;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}


.sectionC{
  background-color: $light;
  min-height: 100vh;
  h2{
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p{
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.sectionD{
  background-color: $light;
  min-height: 100vh;
  h2{
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p{
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}
.sectionE{
  background-color: $light;
  height: 100vh;
  h2{
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p{
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}

// .scroll-arrow{
//   position: absolute;
//   bottom: 3rem;
//   transform: translateX(-50%);
//   left: 50%;
//  animation: fade-bounce 5s infinite;

//   svg{
//     font-size: 3rem;
//   }
// }


.how-to-troc-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
    .troc-card{
      padding: 2rem 1rem;

border: 2px solid $secondary;
height: 25rem;
margin:  1rem;
    color: $light;

    h4{
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }
}

.troc-card-images {
  margin-top: 2rem;
display: flex;
flex: 1;
align-items: center;
justify-content: space-between;
img{
  width: 30%;
  height: 10rem;
  object-fit: contain;
}
}