@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/mixins';
@import '../../SASS/animations';

.section-inner {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fade-in-up 0.5s ease-in-out;
  }
}

.section-landing {
  height: 100vh;
}

.section-inner h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  animation: fade-in-up 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.section-inner {
  button {
    animation: fade-in-up 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
  }
}

.sectionB {
  background-color: $primary;
  min-height: 100vh;
  h2 {
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p {
    color: $light;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.sectionC {
  background-color: $light;
  min-height: 100vh;
  h2 {
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p {
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.sectionD {
  background-color: $light;
  min-height: 100vh;
  h2 {
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p {
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}
.sectionE {
  background-color: $light;
  height: 100vh;
  h2 {
    text-align: center;
    margin: 2rem 0;
    color: #637990;
    font-size: 2.2rem;
  }
  p {
    color: $text;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }
}

// .scroll-arrow{
//   position: absolute;
//   bottom: 3rem;
//   transform: translateX(-50%);
//   left: 50%;
//  animation: fade-bounce 5s infinite;

//   svg{
//     font-size: 3rem;
//   }
// }

.how-to-troc-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  .troc-card {
    padding: 2rem 1rem;

    border: 2px solid $primary-light;
    height: auto;
    margin: 1rem;
    color: $light;
    .circular-icon {
      opacity: 0.5;
    }
    h4 {
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }
}

.troc-card-images {
  margin-top: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  img {
    width: 20%;
    height: 10rem;
    object-fit: contain;
  }
}

.sectionA-hero {
  background-color: $primary;
  padding: 3rem 1rem;
  color: $light;
  background-image: url('../../assets//coins/piece_stoyan-02.svg');
  background-repeat: no-repeat;
  background-position: bottom -103px right -150px;
  height: 60vh;
  p {
    font-size: 1.6rem;
    margin: 2rem 0;
    width: 80%;
  }

  .sectionA-hero-title {
    font-size: 2.4rem;
  }
}

.sectionA-equity {
  .sectionA-equity-title {
    font-size: 2.4rem;
  }
  height: 40vh;
  padding: 3rem 1rem;
}

.cycle-troc-home {
  width: 100%;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
}


.main-btn{
  margin-top: 3rem;
}

.promo{
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;

  p{
    font-size: 1.3rem;
  }
}