
@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
.modal {

    position: absolute;
    color: whitesmoke;
    background-color: $primary-light;
    border-radius: 1rem;
    padding: 1rem;
    height: 40rem;
    top: 40%;
    left: 50%;
    max-width: 90rem;
    min-width: 300px;
    transform: translate(-50%, -50%);
  }

  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 9999999999;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.801);
  }


  
  .close-Modal {
    position: absolute;
background-color: transparent !important;
    font-weight: bolder;
   top: 0;
   left: 60%;
   
  }
  
  