@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/mixins';
@import '../../SASS/animations';

.comparatif-cover{
    display: flex;

    div{
        width: 3rem;
        height: 3rem;

        img{
            width: 3rem;
            height: 3rem;
        }
    }
}


p{
    margin:  1rem 0;
    text-align: center;
    font-size: 1.3rem;
}

.big-paragraphe{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3;
    color: $primary;

    margin-bottom: 3rem;
    text-align: center;
}

.title-section{

    text-align: center;
    color: $dark;
    font-size: 2rem;

    margin: 3rem auto;
}

.formule{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
span{
    font-size: 3rem;
    color: $secondary;
    margin-bottom: 1rem;
}
    background-color: $primary;
    border-radius: $radius + $radius;
    color: $light;
    font-size: 1.2rem;
    padding: 1.3rem 0.5rem;
    text-align: center;
    font-weight: bolder;
}

.comparatif-list{
    text-align: center;
    font-weight: bold;
    color: $primary;
    li{
        font-size: 1.1rem;
        margin: 2rem; 
        font-weight: bold;
        display: flex;
        align-items: center;
        svg{
            height: 4rem;
            color: green;
            width: 2rem;
            margin-right: 1rem;
        }
    }
}