@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';

.navbar-brand,
.navbar-menu {
  background-color: $primary;
  a {
    font-size: 8px;
  }
}
.navbar-menu {
  background-color: $bg-drop;
}
.logo {
  p{

    color: $secondary;
  }
}

.logout-btn {
  @extend %danger-btn;
  color: $primary;
  font-size: 1rem;
}

.nav-title {
  color: $comp3;
 
}
.nav-item {
  color: $dark;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: $bg-drop;
  color: $primary;
}


.navbar-burger {
  span{
    color: $secondary;
  }
}

.navbar-dropdown{
  background-color: $bg-drop;
}