@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';



header{
  height: 80px;
font-size: 2rem;
  width: 100%;
  left: 6rem;
  color: white;
  background-color: $primary;
}

.header-nav{
  position: absolute;
right: 0;
display: flex;
top: 1.5rem;

}

.log_btn_nav{
font-size: 2.5rem;
margin-right:2rem;
&:hover{
  color: $secondary;
}
}