@import "../../SASS/reset";
@import '../../SASS/variables';
@import '../../SASS/placeholders';

.cgu-container {
    text-align: center;
    h4,
    h1 {
      color: $main-color;
      font-size: 10px;
      font-weight: bolder;
    }
    p {
      font-size: 9px;
      text-align: center;
    }
    li {
      font-size: 12px;
    }
  }