@import "../../SASS/reset";
@import '../../SASS/variables';
@import '../../SASS/placeholders';


.container-offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .btn-filter {
    width: 100%;
    background-color: $main-color;
    color: $light-color;
  }
  