
@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/placeholders';
@import '../../SASS/animations';


.dashboard-nav{
    height: auto;
    display: flex;
    justify-content: space-around;
align-items: center;
background-color: $grey;
    width: 100%;
    padding: 1rem 0;
    a{
        background-color: $dark;
        font-size: 10px;
        width: 25%;
        max-width: 200px;
        padding: 0.6rem;
        height: 25px;
        border-radius: $radius;

        .active{
            color: $primary;
        }
    }

    

    }

