@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/placeholders';



form {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;


}