@import "../../../SASS/reset";
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';



.footer {
    padding: 2rem;
    background-color: $primary-dark;
    font-size: 12px;
    a {
      font-size: 10px;
      color: $light-color;
      font-weight: 300;
      
      &:hover {
        color: $light;
      }
    }
    p{
      color: $secondary;
    }
  }

  
.social-media-container {
    a {
      font-size: 30px;
      margin: 0 20px;
      border: none;
      color: $light;
      background-color: transparent;
    }
  }
  