@import "../node_modules/bulma/bulma.sass";


footer{
  padding: 2rem;
  background-color: rgb(53, 53, 53);
  
}
.navbar-brand{
  background-color: rgb(53, 53, 53);

}

main{
  background-color: rgb(184, 184, 184);
  min-height: 100vh;
}