@import '../node_modules/bulma/bulma.sass';
@import url('https://use.typekit.net/hap5tri.css');
@import "./SASS/reset";
@import './SASS/variables';
@import './SASS/placeholders';


a{
  color: $secondary;

  &:hover {
    color: $secondary-color;
  }
}

main {
  background-color: $primary;
  min-height: 100vh;
  color: $light-color;
}

.hero {
  background-color: $dark;
  color: $light;

}


.button{
  &:hover{
    color: $secondary-color;
  }
}



.content-image {
  display: flex;
  img{
    width: 50%;
    object-fit: contain;
  }
}