@import '../node_modules/bulma/bulma.sass';
@import url('https://use.typekit.net/hap5tri.css');
@import "./SASS/reset";
@import './SASS/variables';
@import './SASS/placeholders';


a{
  color: $dark;
  font-weight: bold;

  &:hover {
    color: $primary;
  }
}

.title {
  color: $primary;
}
body {
  background-color: $light-color;
  min-height: 100vh;
  color: $primary-dark;
}
main {
  min-height: 100vh;
  color: $primary-dark;
}


.button{
  &:hover{
    color: $secondary;
  }
}



.content-image {
  display: flex;
  img{
    width: 50%;
    object-fit: contain;
  }
}

.card-content-my-offer {
  padding: 2rem;
  display: flex;
}

.action-my-offer-card-danger{
  color: $danger-color;
font-weight: bolder;
text-transform: uppercase;
letter-spacing: 0.4px;
transition: all 0.3s ease-out;

&:hover{
  background-color: $danger-color;
  color: $light;
}
}


.recap-section {
  background-color: $light-color;
}