@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';
.landing-container {
  height: 96vh;
  background-color: $light-color;
  color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  h1 {
    font-weight: bolder;
  animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  
  color: $primary;
}
h2 {
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: $primary;
  }
}

.big-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.big-subtitle{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}